.commonIconSize, .settingsIcon {
  font-size: 64px;
  height: 64px;
  width: 64px;
  margin-bottom: 24px;
}

.settingsIcon {
  color: rgba(0, 0, 0, 0.45);
}

.homePageCardsRow {
  min-height: 65vh;
  margin: 16px 16px !important;
  align-content:center;
}

h3.cardTitle {
  margin-bottom: 0em;
}

@media all and (min-width: 768px) {
  .smCard {
    width: 23rem;
    flex: none;
  }
}
