.commonIconSize,
.settingsIcon {
  font-size: 4rem;
  height: 4rem;
  width: 4rem;
  margin-bottom: 1.5rem;
}

.settingsIcon {
  color: rgba(0, 0, 0, 0.45);
}

.homePageCardsRow {
  min-height: 65vh;
  margin: 1rem 1rem !important;
  align-content: center;
}

h3.cardTitle {
  margin-bottom: 0em;
}

@media all and (min-width: 48rem) {
  .smCard {
    width: 23rem;
    flex: none;
  }
}
