.grid {
  padding: 1.5rem 0.75rem;
  margin: 0 !important;
  max-height: 80vh;
  overflow-y: scroll;
}

.agentCard {
  margin-bottom: 1.5rem;
}

.iconBoxSequencer {
  background-color: white;
  border-left: 1px solid #b7eb8f;
}

.iconBoxSeqComp {
  border-left: 1px solid #d9d9d9;
}

.iconBox,
.iconBoxSequencer,
.iconBoxSeqComp {
  display: flex;
  align-items: center;
}

.agentIcon {
  font-size: 1.35rem;
}

.icon,
.deleteIcon {
  padding: 0.25rem 0.5rem;
  font-size: 1.25rem;
}

.icon:hover,
.agentIcon:hover {
  color: var(--activeColor);
}

.deleteIcon:hover {
  color: var(--dangerColor);
}

.seqComp,
.sequencerComp {
  border: 1px solid #d9d9d9;
  font-size: 14px;
}

.seqCompTitle {
  padding: 0.5rem 0.75rem;
}

.sequencerComp {
  background-color: #f6ffed;
  border-color: #b7eb8f;
}
