.content {
  display: flex;
  flex-direction: column;
}

.app {
  height: 100vh;
}

.tmtHeader {
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 -1px 0 0 var(--shadowColor) inset;
}
