.actionEnabled,
.actionDisabled {
  font-size: 1.5rem;
  color: var(--labelColor);
}

.danger {
  --labelColor: #ff4d4f;
  --activeColor: #ff4d4f;
}

.actionDisabled {
  color: var(--disabledColor);
}

.actionEnabled :hover {
  color: var(--activeColor);
}

.headerBox {
  padding: 1.25rem;
  box-shadow: inset 0 -1px 0 var(--shadowColor);
}

tr.cell > td,
tr.cell > th {
  background: white;
  border-bottom: transparent;
}

tr.cellInDuplicate > td,
tr.cellInDuplicate > th {
  background: white;
  border-bottom: transparent;
  padding-left: 0;
}

tr#selectedRow > td {
  background: #e6f7ff;
  border-bottom: transparent;
}

tr > td:last-child::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-right: 0.1875rem solid #1890ff;
  content: '';
  transform: scaleY(0.0001);
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

tr#selectedRow > td:last-child::after {
  transform: scaleY(1);
  opacity: 1;
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.menu {
  box-shadow:
    0 3px 6px -4px rgb(0 0 0 / 12%),
    0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%) !important;
  border-radius: 2px;
}

.badge > span {
  width: 0.75rem;
  height: 0.75rem;
}

.stepInfo {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--backgroundColor);
  padding: 1.5rem;
  margin-left: 1px;
}

.stepListTable,
.duplicateStepListTable {
  overflow-y: scroll;
  height: 100%;
}

.duplicateStepListTable {
  height: 90%;
}

.upload > div {
  width: 100%;
}

.upload :hover {
  color: var(--activeColor);
}
