.actionEnabled,
.actionDisabled {
  font-size: 1.5rem;
  color: var(--labelColor);
}

.actionDisabled {
  color: var(--disabledColor);
}

.actionEnabled :hover {
  color: var(--activeColor);
}

.headerBox {
  padding: 1.25rem;
  box-shadow: inset 0 -1px 0 var(--shadowColor);
}

tr.selectedCell > td {
  background: #e6f7ff;
  border-bottom: transparent;
}

tr.cell > td,
tr.cell > th {
  background: white;
  border-bottom: transparent;
}

tr.cellInDuplicate > td,
tr.cellInDuplicate > th {
  background: white;
  border-bottom: transparent;
  padding-left: 0;
}
